{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Osasco</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=B612+Mono&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <a href="">cachorro quente</a>
        <a href="">pombos</a>
        <a href="">seja assaltado</a>
        <a href="">passeio no shopping</a>
    </nav>
    <h1>Osasco</h1>
    <img src="static/imagens/Dilma.jpg" alt="">
    <p>Dois homens foram apreendidos pela GCM (Guarda Civil Metropolitana) de Osasco na manhã deste sábado (12) enquanto
        capturavam pombos, em Osasco, na grande São Paulo. Os homens estavam no calçadão da Rua Antônio
        Agú, no centro da cidade.

        Segundo um dos GCMs que participou da ação, informações preliminares apontam que os suspeitos utilizam as aves
        em preparos culinários e vendiam os alimentos em buffets.

        Junto com os suspeitos, foi encontrado uma gaiola com 20 pombos. Um dos detidos já respondia a processo por
        tráfico de animais silvestres.

        O caso está sendo apresentado na Delegacia Seccional de Osasco.</p>
    <h2>como chegar em Osasco</h2>
    <p>pegar a linha 2 - verde até Consolação, depois pega a linha 4 - amarela sentido São Paulo-morumbi, descer na
        estação pinheiros fazer a baldiação na CPTM, pegar o trem sentido Osasco.</p>
    <footer>
        <p>cuidado com os assaltos, cuidado com os cara na moto</p>
    </footer>
</body>

</html>